name: Dev Build

on:
  push:
    tags: [ v* ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build_test_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-restore --verbosity normal
        
      - name: GetVersion
        id: version
        uses: battila7/get-version-action@v2
      
      - name: Dotnet Nuget pack
        run: dotnet pack --configuration Release --output . --include-source -p:PackageID=Dte.Common -p:PackageVersion=${{ steps.version.outputs.version-without-v }}
      
      - name: Dotnet Nuget push
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/pa-nihr-crn/index.json --skip-duplicate
